<div class="topbar-menu">
	<div class="container-fluid in">
		<div id="navigation" class="">
			<!-- Navigation Menu-->
			<ul class="navigation-menu in">
				<li class="active">
					<a routerLink="/dashboard">
						<i class="mdi mdi-view-dashboard"></i>لوحة التحكم
					</a>
				</li>
				<li class="has-submenu">
					<a href="#">
						<i class="mdi mdi-lifebuoy"></i>إعدادات النظام
						<div class="arrow-down"></div>
					</a>
					<ul class="submenu">
						<li><a href="#">بيانات الشركة </a></li>
						<li><a href="#">بيانات الفروع </a></li>
						<li class="has-submenu">
							<a href="#"
								>إعدادات عامة
								<div class="arrow-down"></div
							></a>
							<ul class="submenu">
								<li><a href="#">إعدادات الدوره المستندية</a></li>
								<li><a href="#">أنواع الأضافات والخصومات</a></li>
								<li><a href="#">الربط مع الحسابات العامة</a></li>
								<li><a href="#">مسميات حقول الشاشه</a></li>
								<li><a href="#">الإعدادات الرئسية</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#"
								>قاعدة البيانات
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">أخذ نسخة إحتياطية</a></li>
								<li><a href="#">إسترجاع نسخة إحتياطية</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#"
								>الحماية والسرية
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">مجموعة المستخدمين</a></li>
								<li><a href="#">صلاحيات مجموعة المستخدمين</a></li>
								<li><a href="#">المستخدمين</a></li>
								<li><a href="#">صلاحيات المستخدمين</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="has-submenu">
					<a href="#">
						<i class="mdi mdi-lifebuoy"></i>تعريفات النظام
						<div class="arrow-down"></div>
					</a>
					<ul class="submenu">
						<li class="has-submenu">
							<a href="#">الخدمات
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">تعريفات أساسية</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">المبيعات والعملاء
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">تعريفات أساسية</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">المشتريات والموردين
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">تعريفات أساسية</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">الحركة المالية
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">تعريفات أساسية</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">الاصول الثابتة
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">تعريفات أساسية</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#"> الضريبة المضافة
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">تعريفات أساسية</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">الأجور والرواتب
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">تعريفات أساسية</a></li>
								<li><a href="#">اللوائح</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">المناديب
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">تعريفات أساسية</a></li>
								<li><a href="#">اللوائح</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">الحسابات العامة
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">تعريفات أساسية</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="has-submenu">
					<a href="#">
						<i class="mdi mdi-lifebuoy"></i>الادلة و البطاقات
						<div class="arrow-down"></div>
					</a>
					<ul class="submenu">
						<li><a href="#">الخدمات</a></li>
						<li class="has-submenu">
							<a href="#">العملاء
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">دليل العملاء</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">الموردين
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">دليل الموردين</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">الاصول الثابتة
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">دليل الاصول الثابتة</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">الموظفين
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">دليل الموظفين</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">المناديب
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">دليل المناديب</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">الحسابات العامة
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a [routerLink]="['/main-cost']" routerLinkActive="router-link-active">دليل الحسابات العامة</a></li>
								<li><a [routerLink]="['/cost-center']"  routerLinkActive="router-link-active">دليل مراكز التكلفة</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="has-submenu">
					<a href="#">
						<i class="mdi mdi-lifebuoy"></i>الحركة
						<div class="arrow-down"></div>
					</a>
					<ul class="submenu">
						<li class="has-submenu">
							<a href="#">الخدمات
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">بيانات الخدمة</a></li>
								<li><a href="#">إضافة خدمة</a></li>
								<li><a href="#">صرف خدمة</a></li>
								<li><a href="#">تحويل خدمة</a></li>
								<li><a href="#">طلب شراء</a></li>
								<li><a href="#">عرض سعر</a></li>
								<li><a href="#">قائمة أسعار</a></li>
							</ul>
						</li>
						<li><a href="#">المشتريات والموردين</a></li>
						<li><a href="#">المبيعات والعملاء</a></li>
						<li><a href="#">الحركة المالية</a></li>
						<li><a href="#">الأصول الثابتة</a></li>
						<li><a href="#">الضريبة المضافة</a></li>
						<li><a href="#">الأجور والرواتب</a></li>
						<li><a href="#">المناديب</a></li>
					</ul>
				</li>
				<li class="has-submenu">
					<a href="#">
						<i class="mdi mdi-lifebuoy"></i>الحسابات العامة
						<div class="arrow-down"></div>
					</a>
					<ul class="submenu">
						<li><a [routerLink]="['/voucher']" routerLinkActive="router-link-active" >قيود اليومية </a></li>
						<li><a [routerLink]="['/voucher-type']" routerLinkActive="router-link-active" >أنواع القيود</a></li>
						<li><a href="#">بحث القيود</a></li>
						<li><a href="#">أرشيف القيود </a></li>
						<li><a href="#">الأرصده الأفتتاحية للحسابات</a></li>
						<li><a href="#">الأرصده الأفتتاحية لمراكز التكلفة</a></li>
					</ul>
				</li>
				<li class="has-submenu">
					<a href="#">
						<i class="mdi mdi-lifebuoy"></i>الأرشيف
						<div class="arrow-down"></div>
					</a>
					<ul class="submenu">
						<li><a href="#">أرشيف المستندات</a></li>
						<li><a href="#">أرشيف الموظفين والمناديب</a></li>
						<li><a href="#">أرشيف الحسابات</a></li>
					</ul>
				</li>
				<li>
					<a href="#">
						<i class="mdi mdi-view-dashboard"></i>التقارير
					</a>
				</li>
				<li>
					<a routerLink="/companies">
						<i class="mdi mdi-view-dashboard"></i>الشركات
					</a>
				</li>
				<li>
					<a routerLink="/branches">
						<i class="mdi mdi-view-dashboard"></i>الفروع
					</a>
				</li>
				<li>
					<a routerLink="/accounts">
						<i class="mdi mdi-view-dashboard"></i>الحسابات
					</a>
				</li>
				<!-- <li class="has-submenu">
					<a href="#">
						<i class="mdi mdi-lifebuoy"></i>تعريفات النظام
						<div class="arrow-down"></div>
					</a>
					<ul class="submenu">
						<li class="has-submenu">
							<a href="#">Forms
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">Forms
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">Forms
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#">Forms
								<div class="arrow-down"></div>
							</a>
							<ul class="submenu">
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
								<li><a href="#">General</a></li>
							</ul>
						</li>
					</ul>
				</li> -->
				<!-- <li class="has-submenu">
					<a href="#">
						<i class="mdi mdi-invert-colors"></i>قائمة
						<div class="arrow-down"></div
					></a>
					<ul class="submenu megamenu">
						<li>
							<ul>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>

				<li class="has-submenu">
					<a href="#">
						<i class="mdi mdi-lifebuoy"></i>تصنيف
						<div class="arrow-down"></div
					></a>
					<ul class="submenu">
						<li class="has-submenu">
							<a href="#"
								>تصنيف
								<div class="arrow-down"></div
							></a>
							<ul class="submenu">
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
							</ul>
						</li>
						<li class="has-submenu">
							<a href="#"
								>تصنيف
								<div class="arrow-down"></div
							></a>
							<ul class="submenu">
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
								<li>
									<a href="#">صفحة</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">صفحة</a>
						</li>
						<li>
							<a href="#">صفحة</a>
						</li>
					</ul>
				</li> -->
				<!-- <li class="has-submenu">
					<a href="#">
						<i class="mdi mdi-chart-donut-variant"></i>Charts
						<div class="arrow-down"></div
					></a>
					<ul class="submenu">
						<li>
							<a href="charts-flot.html">Flot Charts</a>
						</li>
						<li>
							<a href="charts-morris.html">Morris Charts</a>
						</li>
						<li>
							<a href="charts-chartist.html">Chartist Charts</a>
						</li>
						<li>
							<a href="charts-chartjs.html">Chartjs Charts</a>
						</li>
						<li>
							<a href="charts-other.html">Other Charts</a>
						</li>
					</ul>
				</li> -->
				<!-- <li class="has-submenu last-elements">
					<a href="#">
						<i class="mdi mdi-cards-outline"></i>Pages
						<div class="arrow-down"></div
					></a>
					<ul class="submenu megamenu">
						<li>
							<ul>
								<li>
									<a href="pages-starter.html">Starter Page</a>
								</li>
								<li>
									<a href="pages-login.html">Login</a>
								</li>
								<li>
									<a href="pages-register.html">Register</a>
								</li>
								<li>
									<a href="pages-recoverpw.html">Recover Password</a>
								</li>
								<li>
									<a href="pages-lock-screen.html">Lock Screen</a>
								</li>
								<li>
									<a href="pages-confirm-mail.html">Confirm Mail</a>
								</li>
								<li>
									<a href="pages-404.html">Error 404</a>
								</li>
								<li>
									<a href="pages-500.html">Error 500</a>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<a href="extras-projects.html">Projects</a>
								</li>
								<li>
									<a href="extras-tour.html">Tour</a>
								</li>
								<li>
									<a href="extras-taskboard.html">Taskboard</a>
								</li>
								<li>
									<a href="extras-taskdetail.html">Task Detail</a>
								</li>
								<li>
									<a href="extras-profile.html">Profile</a>
								</li>
								<li>
									<a href="extras-maps.html">Maps</a>
								</li>
								<li>
									<a href="extras-contact.html">Contact list</a>
								</li>
								<li>
									<a href="extras-pricing.html">Pricing</a>
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<a href="extras-timeline.html">Timeline</a>
								</li>
								<li>
									<a href="extras-invoice.html">Invoice</a>
								</li>
								<li>
									<a href="extras-faq.html">FAQs</a>
								</li>
								<li>
									<a href="extras-gallery.html">Gallery</a>
								</li>
								<li>
									<a href="extras-email-templates.html">Email Templates</a>
								</li>
								<li>
									<a href="extras-maintenance.html">Maintenance</a>
								</li>
								<li>
									<a href="extras-comingsoon.html">Coming Soon</a>
								</li>
							</ul>
						</li>
					</ul>
				</li> -->
				<!-- <li class="has-submenu last-elements">
					<a href="#">
						<i class="mdi mdi-card-bulleted-settings-outline"></i>Layouts
						<div class="arrow-down"></div
					></a>
					<ul class="submenu">
						<li>
							<a href="layouts-menubar-dark.html">Menubar Dark</a>
						</li>
						<li>
							<a href="layouts-center-menu.html">Center Menu</a>
						</li>
						<li>
							<a href="layouts-menu-drop-dark.html">Menu Drop Dark</a>
						</li>
						<li>
							<a href="layouts-preloader.html">Preloader</a>
						</li>
						<li>
							<a href="layouts-normal-header.html">Unsticky Header</a>
						</li>
						<li>
							<a href="layouts-boxed.html">Boxed</a>
						</li>
					</ul>
				</li> -->
			</ul>
			<!-- End navigation menu -->

			<div class="clearfix"></div>
		</div>
		<!-- end #navigation -->
	</div>
	<!-- end container -->
</div>